<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    {% for i in range(0, totalfiles) %}
    {% set filename = files[i] %}
    {% if i % 4 == 0 %}
    <div class="row">
    {% endif %}
        <div class="column">
            <a href="/static/images/{{ filename }}">
                <img src="/static/images/{{ filename }}" alt="{{ filename }}" width="128" height="96" />            
            </a>
        </div>
    {% if i + 1 % 4 == 0 or i == totalfiles - 1 %}
    </div>
    {% endif %}
    {% endfor %}
</body>
</html>