<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rover Web Control</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <div class="row">
        <div class="column large">
            <img style="-webkit-user-select: none;margin: auto;" src="http://localhost:3000/video_feed">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h2>Car Control</h2>
        </div>
        <div class="column">
            <h2>Turret Control</h2>
        </div>
    </div>
</body>
</html>