<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rover Web Control</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.min.css" />
    <script src="/static/nipplejs.js"></script>
    <script src="/static/socket.io.js"></script>
    <script src="/static/debounce.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <img style="-webkit-user-select: none;margin: auto; height: auto; width: 100%;" src="http://{{ host }}:{{ videoport }}/video_feed" >
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3 text-center">
            <button class="btn btn-success" onclick="takePicture()"><i class="fas fa-camera-retro"></i></button>
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-danger" onclick="resetCamera()"><i class="fas fa-recycle"></i></button>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <div class="row" style="height: 120px; width: auto;">
                <div class="zone active" id="car_joystick"></div>
            </div>
        </div>
        <div class="col-3">
            <div class="row" style="height: 120px; width: auto;">
                <div class="zone active" id="turret_joystick"></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <script language="javascript">
        var socket = io.connect('ws://{{ host }}:{{ port }}');
        
        socket.on('connect', function(){
            socket.emit('event', 'I\'m the connected client!');
        }).on('message', function(message){
            console.log('message', message);
        })

        function bindNipple(joystick, x_command, y_command) {
            joystick.on('end', function(evt, data) {
                socket.emit('controller', '{ "command": "' + x_command + '", "value": 0 }');
                socket.emit('controller', '{ "command": "' + y_command + '", "value": 0 }');
            }).on('move', debounce(function(evt, data) {
                let threshold = 2500;
                let angle = data.angle.radian;
                let distance = data.distance;
                let x = (distance/50) * Math.cos(angle) * 32767
                let y = (distance/50) * Math.sin(angle) * 32767
                if(Math.abs(x) < threshold){
                    x = 0;
                }
                socket.emit('controller', '{ "command": "' + x_command + '", "value": ' + Math.round(x) + ' }');
                if(Math.abs(y) < threshold){
                    y = 0;
                }
                socket.emit('controller', '{ "command": "' + y_command + '", "value": ' + Math.round(y) + ' }');
            }, 250)).on('pressure', function(evt, data) {
                
            });
        }

        var carJoystick = nipplejs.create({
            zone: document.getElementById('car_joystick'),
            mode: 'static',
            position: {left: '50%', top: '50%'},
            color: 'red'
        });

        var turretJoystick = nipplejs.create({
            zone: document.getElementById('turret_joystick'),
            mode: 'static',
            position: {left: '50%', top: '50%'},
            color: 'purple'
        });

        bindNipple(carJoystick, "ABS_X", "ABS_Y")
        bindNipple(turretJoystick, "ABS_RX", "ABS_RY")

        function takePicture(){
            socket.emit('controller', '{ "command": "BTN_SOUTH", "value": 0 }');
        }

        function resetCamera(){
            socket.emit('controller', '{ "command": "BTN_EAST", "value": 0 }');            
        }
    </script>
</body>
</html>
<!--
    "ABS_RX"    turret X
    "ABS_RY"    turret Y
    "ABS_X"     car X
    "ABS_Y"     car Y
    "BTN_SOUTH" take picture
    "BTN_EAST"  reset camera
-->